@{
    ViewBag.Title = "Index";
}

<h2>Sudoku</h2>

@Html.ActionLink("New Game", "Index", "Home", new { CreateGame = 1 }, null)

<form>
    <table >
        @for (var i = 1; i < 10; i++)
        {
            string css1 = "";
            string css2 = "";
            if (i == 3 || i == 6) { css1 = "border-bottom-width: 2px; "; } else { css1 = ""; }
            
            <tr>
            @for (var x = 1; x < 10; x++)
            {
                if (x == 3 || x == 6) { css2 = "border-right-width: 2px;"; } else { css2 = ""; }
                <td style="@css1 @css2">
                    <input maxlength="1" type="text"
                           class="Sfield" name="txt @i@x"
                           @if (ViewData["puzzle"] != null){
                           @("value=")if(((short[,])ViewData["puzzle"])[i-1,x-1] != 0){ @(((short[,])ViewData["puzzle"])[i - 1, x - 1] + " ")} 
                           if(((short[,])ViewData["puzzle"])[i - 1, x - 1] != 0) { @("disabled")  }
                           }>
                </td>
            }
            </tr>
        }
    </table>
    <input @if(ViewData["puzzle"] == null){@("disabled")} type="submit" value="Check" />
</form>